:root {
  font-family: WF Visual Sans Variable, Arial, sans-seriff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
}

img {
  object-fit: cover;
}